extends layout

block content
    h1 Job Hunting Chat Room
    button.green(onclick="window.location.href=\'http://127.0.0.1:3000/room/1'") Job Hunting
    br
    br
    h1 Interships Chat Room
    button.blue(onclick="window.location.href=\'http://127.0.0.1:3000/room/2'") Interships
    br
    br
    h1 Job Referrer Chat Room
    button.orange(onclick="window.location.href=\'http://127.0.0.1:3000/room/3'") Job Referrer
    br
    br
    h1 H1B Chat Room
    button.red(onclick="window.location.href=\'http://127.0.0.1:3000/room/4'") H1B Visa
