extends layout

block content
    link(rel='stylesheet', href='/stylesheets/sco.message.css')
    link(rel='stylesheet', href='/stylesheets/message.css')
    link(rel='stylesheet', href='/css/messenger.css')
    link(rel='stylesheet', href='/css/messenger-theme-flat.css')


    .container-fluid
        .row
            .col-sm-1
                //.msg-list-body.user-content#chatEntries
                //    ul
                //        li(style="display:none;")
                //            a(href="#")
                //                img.img-thumbnail(src="/images/1.jpg")
                //                span
                //.panel.panel-primary(style="margin-right:-10px;")
                //    .panel-heading
                //        span.glyphicon.glyphicon-user &nbsp;
                //        span User List
                //    .panel-body
                //        .msg-list-body.user-content
                //            ul
                //                li(style="display:none;")
                //                    a(href="#")
                //                        img.img-thumbnail(src="/images/1.jpg")
                //                        span
                                
                    .panel-footer
                    //    .btn-group
                    //        button.btn.btn-primary(type="button")
                    //            span.glyphicon.glyphicon-home
                    //        button.btn.btn-primary(type="button")
                    //            span.glyphicon.glyphicon-user
                    //        button.btn.btn-primary(type="button")
                    //            span.glyphicon.glyphicon-film
                    //        button.btn.btn-primary(type="button")
                    //            span.glyphicon.glyphicon-music
                    //        button.btn.btn-primary(type="button")
                    //            span.glyphicon.glyphicon-heart
                    //        button.btn.btn-primary(type="button")
                    //            span.glyphicon.glyphicon-envelope
            .col-sm-11
                div.msg-list-body.msg-content#chatEntries
                div
                    .input-group
                        .input-group-addon
                            a(href="#")
                                img(src="/images/bq.png")
                        .input-group-addon(style="padding-bottom:0px;")
                            label(style="position:relative;")
                                img(src="/images/jt.jpg",title="send images",style="cursor:pointer;")
                                input#sendImage(type="file",value="images",style="display:none;")
                        input.form-control#msg(type="text",placeholder="Please input a message here",onkeydown="javascript:keywordsMsg(event);")
                        span.input-group-btn
                            button.btn#sendMsg(type="button") Send

    .modal.fade#myModal(tabindex="-1")
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title#myModalLabel Please Choose a Name
                .modal-body
                    .form-group
                        .input-group
                            .input-group-addon Name
                            input.form-control#username(type="text",value="Lucky Cat",onkeydown="javascript:keywordsName(event);")
                .modal-footer
                    input.btn.btn-primary#btn-setName(type="button",value="Use this Name")

    .modal.fade#setMsgToOne(tabindex="-1")
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title#myModalLabel1
                .modal-body
                    input.form-control#input_msgToOne(type="text",onkeydown="javascript:keywordsName1(event);")
                            
                .modal-footer
                    input.btn.btn-primary#btn_toOne(type="button",value="Send Message")
    script(src="/socket.io/socket.io.js")
    script(src='/javascripts/chat.js')
    script(src='/javascripts/client.js')
    script(src='/javascripts/sco.message.js')
    script(src="/js/messenger.min.js")
    script(src="/js/messenger-theme-flat.js")